---
import Layout from "../../layouts/Layout.astro"

import { getFilmById, pb } from '../../../backend/backend.mjs';

// Récupération de l'ID du film depuis l'URL
const { id } = Astro.params;

// Chargement des données du film
const film = await getFilmById(id);

const img_film = film.affiche_film;

const img_url = await pb.files.getURL(film, img_film)

function formatDateHeure(dateString) {
  const date = new Date(dateString);
  date.setHours(date.getHours() - 2);

  const heure = date.toLocaleTimeString('fr-FR', { 
    hour: '2-digit', 
    minute: '2-digit' 
  });

  return `${heure}`;
}
---

<Layout>


<section class="w-[375px] mx-auto bg-[#212121] font-ad text-white p-6 text-center">
  {film ? (
    <>
    <img src={img_url} alt={film.titre_film} class="w-60 mb-6 mx-auto">
      <h2 class="font-alegreya text-[34px] font-semibold">{film.titre_film}</h1>
      <p class="text-[24px] text-gray-300 mb-2 font-semibold">{formatDateHeure(film.date_heure_film)}</p>
      <p class="text-[16px] text-gray-300 mb-2">{film.salle_diff}</p>
      <p class="text-[16px] text-gray-400 mb-2">Durée : {film.duree_film || 'Inconnue'} min</p>
      <p class="text-[16px] text-gray-300 leading-[1.6] mt-4">{film.synopsis_film}</p>
      <p class="text-[12px] text-gray-300 leading-[1.6] mt-4">{film.langue_film}</p>
      <p class="text-[16px] text-gray-300 leading-[1.6] mt-4">{film.acteurs_film}</p>
    </>
  ) : (
    <p class="text-center text-gray-400">Film non trouvé.</p>
  )}
</section>

</Layout>